body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
#landing-page {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh; /* Minimum height of 100% of the viewport height */
  min-width: 100vw;
  flex-shrink: 0;
  opacity: 0.9;
}

#landing-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/earl-wilcox-UqDIZA3zAN4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  z-index: -1;
}
@font-face {
  font-family: "Gart Serif";
  src: url("assets/fonts/gartseriftrial-regular.otf");
}
@font-face {
  font-family: "Gart Serif Medium";
  src: url("assets/fonts/gartseriftrial-medium.otf");
}
@font-face {
  font-family: "Calle Austin";
  src: url("assets/fonts/CalleAustin-BF65d41bafca56b.ttf");
}
@font-face {
  font-family: "Soria";
  src: url("assets/fonts/soria-font.ttf");
}

.navbar-nav .nav-link {
  color: #ffb1bd;
  font-family: "Gart Serif";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 40px;
}

.navbar-brand {
  color: #cfdd77;
  font-family: Soria;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 40px;
}

.navbar {
  background: transparent !important;
  transition: background-color 0.5s ease-in-out;
}
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
  color: #cfdd77 !important;
}
#title {
  color: #fff3cd;
  font-family: "Calle Austin";
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-top: 220px;
}
#description {
  color: #ffb1bd;
  text-align: center;
  font-family: "Gart Serif";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 111%;
  width: 508px;
  height: 49px;
  margin: 0 auto;
  margin-top: -30px;
}
#appointment-button {
  color: #112500;
  font-family: "Gart Serif";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #ffb1bd;
  width: 324px;
  height: 60px;
  margin: 0 auto;
  display: block;
  border: none;
  margin-top: 30px;
}
#services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  height: auto;
  background: #f8d0d4;
  padding-top: 20px;
}
#service-section-title {
  color: #112500;
  font-family: "Gart Serif";
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 50px;
  text-align: left;
}
.service-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 333px; /* Change this */
  width: 100%; /* Add this */
  height: auto; /* Change this */
}

.service-image img {
  width: 100%;
  height: auto; /* Change this */
  object-fit: cover;
  filter: brightness(0.5);
}

.service-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffb1bd;
  text-align: center;
  font-family: "Calle Austin";
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 90.753%;
  z-index: 1;
}
.service-card {
  display: flex;
  justify-content: center;
}
.row {
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.navbar.scrolled {
  background: #0c1900 !important;
}

.navbar.scrolled .nav-link {
  color: #cfdd77 !important;
}

.navbar.scrolled .navbar-brand {
  color: #fff3cd !important;
}

#About-us {
  width: 100vw;
  height: 650px;
  background: #cfdd77;
  padding-top: 20px;
}
#About-us-description {
  color: #112500;
  text-align: justify;
  font-family: "Gart Serif";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 106%;
  margin-left: 120px;
}
#About-us-title {
  margin-left: 50px;
  color: #112500;
  font-family: "Gart Serif";
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#About-img {
  margin-left: 90px;
  margin-top: -145px;
}
#Contact-us {
  height: 428px;
  width: 100%;
  background: #0c1900;
  justify-content: center;
}
#Contact-us-title {
  color: #cfdd77;
  font-family: "Gart Serif";
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 165px;
  padding-top: 20px;
}

#address {
  color: #ffb1bd;
  font-family: "Gart Serif";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
  margin-left: 180px;
  margin-top: -40px;
}
#Hours {
  color: #ffb1bd;
  font-family: "Gart Serif";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
  margin-top: -40px;
  margin-left: -150px;
}
#branch {
  width: 329px;
  height: 412px;
  position: absolute;
  right: -55px;
  margin-top: -330px;
}
#Social-icons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#navbar-services {
  background: #0c1900;
}
#nav-link {
  color: #cfdd77 !important;
}

#navbar-brand {
  color: #fff3cd !important;
}

#learn-more-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#learn-more {
  color: #fff3cd;
  font-family: "Gart Serif";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #112500;
  width: 250px;
  height: 50px;
  border: none;
  margin-top: 0px;
  margin-bottom: 10px;
}
#services-page {
  background-color: #f8d0d4;
  width: 100vw;
  height: 2100px;
  justify-content: center;
  position: relative;
}
#services-title {
  color: #112500;
  font-family: "Calle Austin";
  font-size: 110px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 170px;
  text-align: center;
  margin-top: 60px;
}
#gifts-title {
  color: #112500;

  text-align: left;
  font-family: "Gart Serif";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 90.753%;
  padding-left: 50px;
}
#gifts-img {
  width: 450px;
  height: 450px;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}
#gifts-desc {
  background-color: #112500;
  width: 450px;
  height: 450px;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}
.no-gap {
  gap: 0;
}
#services-desc {
  color: #fff3cd;
  text-align: justify;
  font-family: "Gart Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 101%;
  padding: 20px;
  padding-top: 50px;
}
#price {
  color: #cfdd77;
  text-align: justify;
  font-family: "Gart Serif";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 101%;
  text-align: center;
  padding-top: 20px;
}
#appointment-button-services {
  color: #112500;
  font-family: "Gart Serif";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #cfdd77;
  width: 324px;
  height: 60px;
  margin: 0 auto;
  display: block;
  border: none;
  margin-top: 70px;
}
#arrangements-desc {
  background-color: #112500;
  width: 450px;
  height: 450px;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}
#arrangements-img {
  width: 450px;
  height: 450px;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}
#arrangements-title {
  color: #112500;

  text-align: left;
  font-family: "Gart Serif";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 90.753%;
  padding-left: 50px;
  padding-top: 40px;
}
#bouquets-desc {
  background-color: #112500;
  width: 450px;
  height: 450px;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}
#bouquets-img {
  width: 450px;
  height: 450px;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}
#bouquets-title {
  color: #112500;

  text-align: left;
  font-family: "Gart Serif";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 90.753%;
  padding-left: 50px;
  padding-top: 40px;
}
#Booking-page {
  background-color: #eef9af;
  height: 100vh;
  width: 100vw;
  position: relative;
}
#booking-title {
  color: #112500;
  font-family: "Calle Austin";
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 150px;
  text-align: center;
  margin-top: 60px;
}
#form-control {
  width: 260px;
  margin-bottom: 20px;
  margin-left: 70px;
  margin-top: 40px;
  font-family: "Gart Serif";
}
#email {
  width: 260px;
  margin-bottom: 20px;
  margin-left: 70px;

  font-family: "Gart Serif";
}
#details {
  width: 260px;
  margin-bottom: 20px;
  margin-left: 70px;
  font-family: "Gart Serif";
  resize: none;
}
.dropdown {
  margin-bottom: 20px;
  margin-left: 70px;
  margin-top: 20px;
}

#dropdownMenuButton1 {
  background-color: #112500;
  border-color: #112500;
  font-family: "Gart Serif";
}
#dropdownMenuButton2 {
  background-color: #112500;
  border-color: #112500;
  font-family: "Gart Serif";
}
.dropdown-item {
  font-family: "Gart Serif";
}
#date-text {
  margin-left: 70px;
  font-family: "Gart Serif";
  font-size: 20px;
}
#img-expert {
  width: 200px;
  height: 200px;
  margin-top: 40px;
  margin-right: 40px;
}
#experts {
  margin-left: -35px;
}
.image-container {
  position: relative;
}

.image-description {
  bottom: 0;
  background-color: #f8d0d4; /* Semi-transparent black */
  color: #0c1900;
  padding: 10px;
  width: 200px;
  text-align: center;
  font-family: "Gart Serif";
}
.form-check-label {
  font-family: "Gart Serif";
  font-size: 18px;
}
#confirmation-button {
  color: #0c1900;
  font-family: "Gart Serif";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  display: block;
  border: none;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
#confirmation-div {
  width: 200px;
}
#confirmation-page {
  width: 100vw;
  height: 832px;
  background-image: url("assets/images/bg-confirmation.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
#thank-you {
  color: #112500;
  font-family: "Calle Austin";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 101%;
  padding-top: 280px;
  text-align: center;
}
#email-send {
  color: #112500;
  font-family: "Gart Serif Trial";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 101%;
  padding-top: px;
  text-align: center;
}
